.tech-stack-title {
    text-align: left;
}
.tech-stack-text {
    text-align: left;
}
.tech-badge-div {
    display: flex;
    flex-wrap: wrap;
}
.ind-tech-badge {
    border: 1px solid #ffffff;
    /* width: 100px; */
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    color: #ffffff
}
.ind-tech-badge p {
    margin: 0;
    margin-left: 7px;
}
div.techstack-card.card {
    width: 100%;
    color: white;
    background: #343A40;
    display: flex;
    align-items: center;
    padding: 5rem 15px;
}
.card-content {
    width: 100%;
    max-width: 800px;
}